.componets-home img {
  width: 100%;
}
.componets-home {
  overflow: hidden;
}
.main-title {
  font-family: "Barlow Condensed";
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
}
.offer-banner {
  position: relative;
  min-height: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 30px 0;
  width: 100%;
}
.offer-banner img {
  width: 100%;
}
.offer-banner .content {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  position: absolute;
  align-items: center;
}
.offer-banner .content.with_cta {
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
}
.offer-banner .content h1 {
  font-family: "Barlow Condensed";
  font-size: 30px;
  font-style: italic;
  font-weight: 700;
  line-height: 36px;
  color: #fff;
  margin: 0;
}
.offer-banner .content span.small {
  font-family: "Barlow Condensed";
  font-size: 18px;
  font-weight: 400;
  line-height: 36px;
  color: #fff;
}
.offer-banner .content.with_cta span.small {
  display: none;
}
.offer-banner .content label {
  font-family: "Manrope";
  font-size: 16px;
  font-weight: 300;
  line-height: 36px;
  color: #fff;
}
.carousel {
  position: relative;
}
.carousel .content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 39px;
}
.carousel .content h1 {
  font-family: "Barlow Condensed";
  font-size: 60px;
  font-weight: 800;
  line-height: 72px;
  letter-spacing: 0em;
  text-align: left;
  max-width: 720px;
  margin-bottom: 40px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.carousel .content h4 {
  font-family: "Manrope";
  font-size: 20px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  max-width: 600px;
  margin-bottom: 50px;
}

.testimonial {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  row-gap: 55px;
}

.testimonial p {
  margin-bottom: 0px;
}
.testimonial .message {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;
  width: 668px;
}

.testimonial .user {
  display: flex;
  column-gap: 20px;
}

.testimonial .details {
  display: flex;
  flex-direction: column;
}

.testimonial .details strong {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;
}

.testimonial .details .location {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;

  margin: 2px 0 11px 0;
}

.testimonial .details .location .star-wrap {
  display: flex;
}

.blog-section {
  display: flex;
  row-gap: 30px;
  justify-content: space-between;
  width: 100%;
}

.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.block img {
  width: 318px;
  height: 160px;
}

.block .blockName {
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  letter-spacing: 0.1em;

  color: #505050;
}

.block .details {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;

  color: #2d2e32;
}

.category {
  display: flex;
  column-gap: 30px;
  justify-content: center;
  width: 100%;
}

.category-card {
  width: 434px;
  height: 214px;
  display: flex;
  background: #ffffff;
  border: 1px solid #d5d5d5;
}

.category-card .image {
  margin: 20px 20px 44px 20px;
  width: 150px;
  height: 150px;
}

.category-card .card-details {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.category-card .card-details .title {
  margin-bottom: 20px;
  font-family: "Barlow Condensed";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
}

.category-card .card-details .detail {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  margin-top: 10px;
  color: #000000;
}
.ant-row {
  margin: 20px 0;
}
